Node_Red/Edge_Gateway.json
[
    {
        "id": "4783ab13.6b4bd4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78752fa1.e478",
        "type": "subflow",
        "name": "Stepper Motor",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 100,
                "wires": [
                    {
                        "id": "d2aefb94.133958"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1044,
                "y": 79,
                "wires": [
                    {
                        "id": "eaf7c9d8.f12118",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1041,
                "y": 137,
                "wires": [
                    {
                        "id": "eaf7c9d8.f12118",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1042,
                "y": 189,
                "wires": [
                    {
                        "id": "eaf7c9d8.f12118",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1044,
                "y": 242,
                "wires": [
                    {
                        "id": "eaf7c9d8.f12118",
                        "port": 3
                    }
                ]
            },
            {
                "x": 1025,
                "y": 379,
                "wires": [
                    {
                        "id": "eaf7c9d8.f12118",
                        "port": 4
                    },
                    {
                        "id": "a606898f.66fc68",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "ddb8ab0d.85f8c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "96131711.a819b8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25fd0edd.873152",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9395ac41.64433",
        "type": "ui_group",
        "z": "",
        "name": "Test Messages",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "27",
        "collapse": false
    },
    {
        "id": "8dacd477.faaf18",
        "type": "ui_group",
        "z": "",
        "name": "Name list",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "cc86e26.d569e2",
        "type": "ui_group",
        "z": "",
        "name": "Header",
        "tab": "96131711.a819b8",
        "order": 1,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "1d0b3b39.c27875",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cc86e26.d569e2",
        "order": 1,
        "width": 1,
        "height": "4"
    },
    {
        "id": "5ecddc9e.be34e4",
        "type": "ui_group",
        "z": "",
        "name": "Content1",
        "tab": "96131711.a819b8",
        "order": 4,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "be6ea9fb.9270a8",
        "type": "ui_group",
        "z": "",
        "name": "content2",
        "tab": "96131711.a819b8",
        "order": 5,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "fe64783d.9095c8",
        "type": "ui_group",
        "z": "",
        "name": "tombol",
        "tab": "96131711.a819b8",
        "order": 3,
        "disp": false,
        "width": "5",
        "collapse": false
    },
    {
        "id": "fdf9537b.e94bb",
        "type": "ui_group",
        "z": "",
        "name": "spacer",
        "tab": "96131711.a819b8",
        "order": 2,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "4f35729a.017adc",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6ca309bd.723f48",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "f24a1fa3.c6a08",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "1000"
    },
    {
        "id": "1aa3cb09.7a80e5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": "9",
        "height": "2"
    },
    {
        "id": "9a9348e5.5b3d28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "82a26405.a2ad38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": "9",
        "height": "2"
    },
    {
        "id": "fc8a15c9.79e008",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d841674c.fa11e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6086505.e00338",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "392a0c8f.8d3984",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d278d69a.e36838",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d37bd670.7f7818",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "541a409.8006fc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "62f1e96a.34ee28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "bec1bfb3.24c06",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": "5",
        "height": 1
    },
    {
        "id": "454a0533.af31ac",
        "type": "ui_group",
        "z": "",
        "name": "Choose Use Option",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f082ae16.224fd",
        "type": "ui_group",
        "z": "",
        "name": "Setting",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "73650f8d.e897d",
        "type": "ui_group",
        "z": "",
        "name": "Alarm",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "54a00baf.3b37a4",
        "type": "ui_group",
        "z": "",
        "name": "Navigation",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "2c6b3618.2fd84a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "454a0533.af31ac",
        "order": 4,
        "width": "9",
        "height": "2"
    },
    {
        "id": "17ce58de.f2e3b7",
        "type": "ui_group",
        "z": "",
        "name": "Alarm",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "9fe2c748.ef85d8",
        "type": "ui_group",
        "z": "",
        "name": "Setting",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "62d307d6.9ce5d8",
        "type": "ui_group",
        "z": "",
        "name": "Alarm",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "3fbe7185.dfe0be",
        "type": "ui_group",
        "z": "",
        "name": "showchart",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f0e17f5b.276de",
        "type": "ui_group",
        "z": "",
        "name": "Alarm",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "3811fdef.651742",
        "type": "ui_group",
        "z": "",
        "name": "Navigation",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "8179da93.90fec8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3811fdef.651742",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "a0ce5233.ab856",
        "type": "ui_group",
        "z": "",
        "name": "Navigation",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "9a411378.52d53",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9fe2c748.ef85d8",
        "order": 4,
        "width": "9",
        "height": "2"
    },
    {
        "id": "d3aa55d2.766988",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a0ce5233.ab856",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d0e93332.33b97",
        "type": "ui_group",
        "z": "",
        "name": "Title",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "62fec4c4.18489c",
        "type": "ui_group",
        "z": "",
        "name": "Title",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "bded3c20.3738b",
        "type": "ui_group",
        "z": "",
        "name": "Title",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "418e9f3d.f881e",
        "type": "ui_group",
        "z": "",
        "name": "Navigation",
        "tab": "",
        "order": 5,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "bb20548e.cbf2b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "77ff4f1b.2bf45",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "418e9f3d.f881e",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c5bddc1.dce462",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "454a0533.af31ac",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a14dddf6.3178",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "54a00baf.3b37a4",
        "order": 2,
        "width": "1",
        "height": 1
    },
    {
        "id": "84c75a14.1d71a8",
        "type": "ui_group",
        "z": "",
        "name": "Title",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "7d5c40b2.304f2",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4c54fb6c.52e534",
        "type": "ui_group",
        "z": "",
        "name": "Group 5",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "dba227d5.796708",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4c54fb6c.52e534",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "ff9cd6d0.d4e668",
        "type": "ui_group",
        "z": "",
        "name": "Group 5",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "e492f581.739a48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ff9cd6d0.d4e668",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "40d1dcb8.7f12d4",
        "type": "ui_group",
        "z": "",
        "name": "Group 5",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "7f6fe5b6.d9cd7c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "40d1dcb8.7f12d4",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "551f46d5.eda0d8",
        "type": "ui_group",
        "z": "",
        "name": "Set Value",
        "tab": "",
        "order": 6,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f70d30ad.45ad5",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "ventilator2",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "262a0c6.bc778f4",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "46dcb968.1fcab8",
        "type": "ui_group",
        "z": "",
        "name": "Title",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "fb98697e.510cb8",
        "type": "ui_group",
        "z": "",
        "name": "Gambar",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "4c5523e2.d7059c",
        "type": "ui_group",
        "z": "",
        "name": "text display",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f99d509c.a6e69",
        "type": "ui_group",
        "z": "",
        "name": "Navigation",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "b90c8619.d052e8",
        "type": "ui_group",
        "z": "",
        "name": "Alarm",
        "tab": "",
        "order": 5,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "6e5f08d.e126df8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f99d509c.a6e69",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "e79266b1.0f0d38",
        "type": "ui_group",
        "z": "",
        "name": "Title",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "cbb74c55.b59e8",
        "type": "ui_group",
        "z": "",
        "name": "Gambar",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "b6e94135.e212a",
        "type": "ui_group",
        "z": "",
        "name": "Navigation",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "45913472.587dec",
        "type": "ui_group",
        "z": "",
        "name": "text display",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "dd966a5d.ff36f8",
        "type": "ui_group",
        "z": "",
        "name": "Alarm",
        "tab": "",
        "order": 5,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "b789785f.654b08",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b6e94135.e212a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "10098cf5.1d4e13",
        "type": "ui_group",
        "z": "",
        "name": "Sense",
        "tab": "",
        "order": 4,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "faef8cba.e3681",
        "type": "ui_group",
        "z": "",
        "d": true,
        "name": "startchart",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "ce2f8449.c5b308",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "faef8cba.e3681",
        "order": 3,
        "width": "9",
        "height": "3"
    },
    {
        "id": "7671d085.ed127",
        "type": "ui_tab",
        "z": "",
        "name": "Display and Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f86dcc77.1e189",
        "type": "ui_group",
        "z": "",
        "name": "dev0",
        "tab": "7671d085.ed127",
        "order": 2,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "5634f77.d4dfc08",
        "type": "ui_group",
        "z": "",
        "name": "Header Button",
        "tab": "7671d085.ed127",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "69838cc1.688e94",
        "type": "ui_group",
        "z": "4783ab13.6b4bd4",
        "name": "Click",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "edb0187a.391d88",
        "type": "ui_group",
        "z": "",
        "name": "dev1",
        "tab": "7671d085.ed127",
        "order": 3,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "a4ff5be2.a7aef8",
        "type": "ui_group",
        "z": "",
        "name": "dev2",
        "tab": "7671d085.ed127",
        "order": 4,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "f34104e0.3e4bf8",
        "type": "ui_group",
        "z": "",
        "name": "dev3",
        "tab": "7671d085.ed127",
        "order": 5,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "ab98cb8.eb3da38",
        "type": "ui_group",
        "z": "",
        "name": "dev4",
        "tab": "7671d085.ed127",
        "order": 6,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "dbc269db.61ea18",
        "type": "ui_group",
        "z": "",
        "name": "dev5",
        "tab": "7671d085.ed127",
        "order": 7,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "468f3c13.450374",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "6ddd72ea.a4e50c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6ddd72ea.a4e50c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6e1eb98a.21e078",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "bd1dc496.9ddae8",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bd1dc496.9ddae8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dda2a3ff.e61f1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f86dcc77.1e189",
        "order": 2,
        "width": "5",
        "height": 1
    },
    {
        "id": "6be59ddb.98e764",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "edb0187a.391d88",
        "order": 2,
        "width": "5",
        "height": 1
    },
    {
        "id": "f5750055.36e2d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4ff5be2.a7aef8",
        "order": 2,
        "width": "5",
        "height": 1
    },
    {
        "id": "73bffb1d.983ec4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f34104e0.3e4bf8",
        "order": 2,
        "width": "5",
        "height": 1
    },
    {
        "id": "de755b73.75fc28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ab98cb8.eb3da38",
        "order": 2,
        "width": "5",
        "height": 1
    },
    {
        "id": "b6c778fb.c385f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dbc269db.61ea18",
        "order": 2,
        "width": "5",
        "height": 1
    },
    {
        "id": "23a18da8.10c1a2",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "34.121.186.105",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5da7c819.fa1838",
        "type": "google-cloud-iotcore broker",
        "z": "",
        "name": "dev1",
        "commandsQos": "0",
        "configQos": "1",
        "brokerHost": "mqtt.googleapis.com",
        "brokerPort": "8883",
        "projectId": "tactical-patrol-276605",
        "region": "asia-east1",
        "registryId": "tugas_scada_tim5",
        "deviceId": "dev1",
        "algorithm": "RS256",
        "privateKeyFile": "C:\\Users\\User\\BACNET\\rsa_private.pem",
        "keepAlive": "60",
        "reconnectPeriod": "50",
        "connectTimeout": "30000",
        "clean": "true"
    },
    {
        "id": "cc108bfc.260058",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "ca_cert.pem",
        "keyname": "rsa_private.pem",
        "caname": "roots.pem",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "3c1948bf.0c7ef8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.googleapis.com",
        "port": "8883",
        "tls": "cc108bfc.260058",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6ef03918.fe6ac8",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/analogInput",
        "qos": "2",
        "datatype": "auto",
        "broker": "ddb8ab0d.85f8c8",
        "x": 260,
        "y": 1400,
        "wires": [
            [
                "df6d53f0.e8fc"
            ]
        ]
    },
    {
        "id": "aa3fe70d.b72e28",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/analogValue",
        "qos": "2",
        "datatype": "auto",
        "broker": "ddb8ab0d.85f8c8",
        "x": 260,
        "y": 1800,
        "wires": [
            [
                "f24b8400.c8c308"
            ]
        ]
    },
    {
        "id": "d8bdf89f.e2d608",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "ddb8ab0d.85f8c8",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "66cbeb02.ed8f84",
                "7e704936.2bf5b8"
            ]
        ]
    },
    {
        "id": "b1b09d86.b3c62",
        "type": "ui_media",
        "z": "4783ab13.6b4bd4",
        "group": "cc86e26.d569e2",
        "name": "",
        "width": "4",
        "height": "4",
        "order": 2,
        "category": "logo_itb",
        "file": "logo-itb-1024px.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "bbcadfa5.d3514",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "cc86e26.d569e2",
        "order": 3,
        "width": "25",
        "height": "4",
        "name": "",
        "label": "",
        "format": "<font size =50>{{msg.payload}}",
        "layout": "col-center",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "d5dce5bf.776828",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "Commercial A/C BACNET Protocol Simulation",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "bbcadfa5.d3514"
            ]
        ]
    },
    {
        "id": "7d34f426.c8bd0c",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "Whois() Check",
        "group": "fe64783d.9095c8",
        "order": 1,
        "width": "5",
        "height": "2",
        "passthru": false,
        "label": "Who is?",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 240,
        "y": 680,
        "wires": [
            [
                "5ebdf1c1.6fa49"
            ]
        ]
    },
    {
        "id": "9991fc63.59e12",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "bdf7114a.db876"
            ]
        ]
    },
    {
        "id": "7e704936.2bf5b8",
        "type": "debug",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "66cbeb02.ed8f84",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "(",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ")",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "9991fc63.59e12"
            ]
        ]
    },
    {
        "id": "bdf7114a.db876",
        "type": "join",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "64a997f1.edcca8"
            ]
        ]
    },
    {
        "id": "4db3592d.d1ea48",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "add ts",
        "func": "js_obj      = msg.payload;\n\nvar d       = new Date();\nvar jstime  = d.getTime();\nvar time    = (d.getHours()) + \":\" + d.getMinutes();\nvar date    = d.getDate() + \".\" + (d.getMonth()+1) + \".\" + (d.getFullYear());\n\njs_obj.timestamp = jstime;\njs_obj.timedate  = time + ' ' + date ;\n\nmsg.payload = js_obj ;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "e9c38f5c.8537a"
            ]
        ]
    },
    {
        "id": "615c3f22.cec2a",
        "type": "template",
        "z": "4783ab13.6b4bd4",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<table border=\"1\" class=\"center\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"2\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>Time & Date</th>\n        <th>Device Address and ID</th>\n        <!--<th>Confirm</th>-->\n        <!--<th>Time & Date</th>-->\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n             <td>{{timedate}}</td>\n            <td>{{msg}}</td>            \n            <!--<td>{{confirm}}</td>-->\n            <!--<td>{{timedate}}</td>-->\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "26a8ee15.6893f2"
            ]
        ]
    },
    {
        "id": "26a8ee15.6893f2",
        "type": "ui_template",
        "z": "4783ab13.6b4bd4",
        "group": "5ecddc9e.be34e4",
        "name": "Scrolling Messages",
        "order": 1,
        "width": "10",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px; margin-left: auto;margin-right: auto;\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 630,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e9c38f5c.8537a",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "Cr/Upd msg_events",
        "func": "var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "2aac80d0.34623"
            ]
        ]
    },
    {
        "id": "4dcaa505.f57cdc",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "zap msg_events flow context",
        "func": "var cfg = undefined ;\nflow.set('msg_events', cfg, 'memoryOnly');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "22e3610e.b14f1e",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "4dcaa505.f57cdc"
            ]
        ]
    },
    {
        "id": "6fe04002.2386e",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "topic & 10",
        "func": "var arr = msg.payload ;\n\nvar i   = 10;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 10);    \n    msg.topic = 'Device List :';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "615c3f22.cec2a"
            ]
        ]
    },
    {
        "id": "2aac80d0.34623",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "sort",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "5c6e5e32.e90a4",
                "6fe04002.2386e"
            ]
        ]
    },
    {
        "id": "5c6e5e32.e90a4",
        "type": "debug",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "baa3f799.078028",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "add ts",
        "func": "content      = msg.payload;\n\njs_obj_new  = {\"msg\":content, \"confirm\":1}\n// {\"msg\":\"Message one, bla bla\",\"confirm\":1}\nmsg.payload = js_obj_new ;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "4db3592d.d1ea48"
            ]
        ]
    },
    {
        "id": "64a997f1.edcca8",
        "type": "rbe",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "baa3f799.078028"
            ]
        ]
    },
    {
        "id": "a66bd45b.3d3488",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "checkwhois",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "uncheck,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 720,
        "wires": [
            [
                "7d34f426.c8bd0c",
                "7838c4d7.452f4c"
            ]
        ]
    },
    {
        "id": "18b14bb5.ce2154",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 250,
        "y": 760,
        "wires": [
            [
                "a66bd45b.3d3488"
            ]
        ]
    },
    {
        "id": "5ebdf1c1.6fa49",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "checkwhois",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 680,
        "wires": [
            [
                "58a7e63d.fe56c8"
            ],
            [
                "a66bd45b.3d3488"
            ]
        ]
    },
    {
        "id": "58a7e63d.fe56c8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "checkwhois",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "check,0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 680,
        "wires": [
            [
                "7d34f426.c8bd0c",
                "7838c4d7.452f4c"
            ]
        ]
    },
    {
        "id": "cf7d5f92.ff198",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 610,
        "y": 720,
        "wires": [
            [
                "7838c4d7.452f4c"
            ]
        ]
    },
    {
        "id": "67ddf1e0.a6293",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/points",
        "qos": "2",
        "datatype": "auto",
        "broker": "ddb8ab0d.85f8c8",
        "x": 182,
        "y": 460,
        "wires": [
            [
                "df083d60.74798",
                "dfd84812.18c8a8"
            ]
        ]
    },
    {
        "id": "b0f98231.01f69",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload",
        "x": 532,
        "y": 480,
        "wires": [
            [
                "c7382990.098118"
            ]
        ]
    },
    {
        "id": "dfd84812.18c8a8",
        "type": "debug",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 372,
        "y": 420,
        "wires": []
    },
    {
        "id": "df083d60.74798",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "[",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "(",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "]",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ")",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 382,
        "y": 480,
        "wires": [
            [
                "b0f98231.01f69"
            ]
        ]
    },
    {
        "id": "c7382990.098118",
        "type": "join",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 652,
        "y": 480,
        "wires": [
            [
                "d7f9993f.aa96d8"
            ]
        ]
    },
    {
        "id": "80eb021.75431",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "add ts",
        "func": "js_obj      = msg.payload;\n\nvar d       = new Date();\nvar jstime  = d.getTime();\nvar time    = (d.getHours()) + \":\" + d.getMinutes();\nvar date    = d.getDate() + \".\" + (d.getMonth()+1) + \".\" + (d.getFullYear());\n\njs_obj.timestamp = jstime;\njs_obj.timedate  = time + ' ' + date ;\n\nmsg.payload = js_obj ;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 472,
        "y": 520,
        "wires": [
            [
                "acc1869d.770d98"
            ]
        ]
    },
    {
        "id": "2fadd1c2.06b20e",
        "type": "template",
        "z": "4783ab13.6b4bd4",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<table border=\"1\" class=\"center\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"2\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th>Time & Date</th>\n        <th>Device and Object</th>\n        <!--<th>Confirm</th>-->\n        <!--<th>Time & Date</th>-->\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n             <td>{{timedate}}</td>\n            <td>{{msg}}</td>            \n            <!--<td>{{confirm}}</td>-->\n            <!--<td>{{timedate}}</td>-->\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 472,
        "y": 560,
        "wires": [
            [
                "cdfdc1d4.ef6a1"
            ]
        ]
    },
    {
        "id": "cdfdc1d4.ef6a1",
        "type": "ui_template",
        "z": "4783ab13.6b4bd4",
        "group": "be6ea9fb.9270a8",
        "name": "Scrolling Messages",
        "order": 1,
        "width": "13",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px; margin-left: auto;margin-right: auto;\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 632,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "acc1869d.770d98",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "Cr/Upd msg_events",
        "func": "var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events1\", 'memoryOnly1');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events1\",arr_msgs, 'memoryOnly1');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events1\",arr_msgs, 'memoryOnly1');\n        }\n} \nmsg.payload = flow.get(\"msg_events1\", 'memoryOnly1');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 520,
        "wires": [
            [
                "6cf3fb34.b66174"
            ]
        ]
    },
    {
        "id": "5a23ac76.e59364",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "zap msg_events flow context",
        "func": "var cfg = undefined ;\nflow.set('msg_events1', cfg, 'memoryOnly1');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf3fb34.b66174",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "sort",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 812,
        "y": 520,
        "wires": [
            [
                "b8fe0774.fb5f68"
            ]
        ]
    },
    {
        "id": "24cb0e25.11b912",
        "type": "debug",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2330,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d7f9993f.aa96d8",
        "type": "rbe",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 772,
        "y": 480,
        "wires": [
            [
                "904028d.290b4d8"
            ]
        ]
    },
    {
        "id": "cb0fba70.af99c8",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "Connect",
        "group": "fe64783d.9095c8",
        "order": 2,
        "width": "5",
        "height": "2",
        "passthru": false,
        "label": "Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "connect,0",
        "payloadType": "str",
        "topic": "",
        "x": 220,
        "y": 820,
        "wires": [
            [
                "8388c73f.7a4ba8"
            ]
        ]
    },
    {
        "id": "8388c73f.7a4ba8",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 800,
        "y": 820,
        "wires": []
    },
    {
        "id": "6b7cb448.8c5e1c",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "Next Page",
        "group": "fe64783d.9095c8",
        "order": 3,
        "width": "5",
        "height": "2",
        "passthru": false,
        "label": "Next",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "Display and Control",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "45d5b935.16edd8"
            ]
        ]
    },
    {
        "id": "b9ff40c2.c8114",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "fdf9537b.e94bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "Check and Connect to BACnet Device in the Networks",
        "layout": "row-center",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "dcdab3ad.f1f32",
        "type": "comment",
        "z": "4783ab13.6b4bd4",
        "name": "Page 1",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "bd5a8bb1.413a68",
        "type": "comment",
        "z": "4783ab13.6b4bd4",
        "name": "Page 2",
        "info": "",
        "x": 150,
        "y": 960,
        "wires": []
    },
    {
        "id": "a606898f.66fc68",
        "type": "function",
        "z": "78752fa1.e478",
        "name": "Toggle Direction",
        "func": "var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 431,
        "y": 267,
        "wires": [
            []
        ]
    },
    {
        "id": "d2aefb94.133958",
        "type": "switch",
        "z": "78752fa1.e478",
        "name": "Step or Direction",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Step",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Direction",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 291,
        "y": 171,
        "wires": [
            [
                "80dc9b7c.b804d8"
            ],
            [
                "a606898f.66fc68"
            ]
        ]
    },
    {
        "id": "d4373d41.6ab33",
        "type": "comment",
        "z": "78752fa1.e478",
        "name": "Flow Variables",
        "info": "* Direction\n* Sequence\n* SequenceIndex",
        "x": 279,
        "y": 42,
        "wires": []
    },
    {
        "id": "eaf7c9d8.f12118",
        "type": "function",
        "z": "78752fa1.e478",
        "name": "Sequence Generator",
        "func": "var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}",
        "outputs": "5",
        "noerr": 0,
        "x": 720,
        "y": 174,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "80dc9b7c.b804d8",
        "type": "function",
        "z": "78752fa1.e478",
        "name": "Multistep",
        "func": "var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];",
        "outputs": 1,
        "noerr": 0,
        "x": 434,
        "y": 90,
        "wires": [
            [
                "5f272c6a.b970c4"
            ]
        ]
    },
    {
        "id": "5f272c6a.b970c4",
        "type": "delay",
        "z": "78752fa1.e478",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 615,
        "y": 76,
        "wires": [
            [
                "eaf7c9d8.f12118"
            ]
        ]
    },
    {
        "id": "45d5b935.16edd8",
        "type": "ui_ui_control",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "44bd08bd.5a6408",
        "type": "ui_ui_control",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ba02a16.859646",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "Home",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "44bd08bd.5a6408"
            ]
        ]
    },
    {
        "id": "904028d.290b4d8",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "add ts",
        "func": "content      = msg.payload;\n\njs_obj_new  = {\"msg\":content, \"confirm\":1}\n// {\"msg\":\"Message one, bla bla\",\"confirm\":1}\nmsg.payload = js_obj_new ;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 352,
        "y": 520,
        "wires": [
            [
                "80eb021.75431"
            ]
        ]
    },
    {
        "id": "b8fe0774.fb5f68",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "topic & 10",
        "func": "var arr = msg.payload ;\n\nvar i   = 10;\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 10);    \n    msg.topic = 'Object List :';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 342,
        "y": 560,
        "wires": [
            [
                "2fadd1c2.06b20e"
            ]
        ]
    },
    {
        "id": "ab987e35.18adb",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 352,
        "y": 600,
        "wires": [
            [
                "5a23ac76.e59364"
            ]
        ]
    },
    {
        "id": "7838c4d7.452f4c",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "df6d53f0.e8fc",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "44a92dfa.c02fb4"
            ],
            [
                "54c37754.4e7d78"
            ],
            [
                "51a19e73.7ba9d"
            ],
            [
                "4491eeb1.fc5f7"
            ],
            [
                "8a54d47d.bee688"
            ],
            [
                "fa35ca5b.09e0b8"
            ]
        ]
    },
    {
        "id": "d16fc351.f404d",
        "type": "ui_chart",
        "z": "4783ab13.6b4bd4",
        "name": "AI0",
        "group": "f86dcc77.1e189",
        "order": 1,
        "width": "9",
        "height": "8",
        "label": "AI Device 0",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "44a92dfa.c02fb4",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1272,
        "wires": [
            [
                "7f1cfa04.757074"
            ]
        ]
    },
    {
        "id": "7f1cfa04.757074",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1272,
        "wires": [
            [],
            [
                "22924a98.a07f06"
            ]
        ]
    },
    {
        "id": "54c37754.4e7d78",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1332,
        "wires": [
            [
                "8e80894c.898fc8"
            ]
        ]
    },
    {
        "id": "8e80894c.898fc8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1332,
        "wires": [
            [],
            [
                "b7d226fd.724298"
            ]
        ]
    },
    {
        "id": "e26b5afc.210f18",
        "type": "ui_chart",
        "z": "4783ab13.6b4bd4",
        "name": "AI1",
        "group": "edb0187a.391d88",
        "order": 1,
        "width": "9",
        "height": "8",
        "label": "AI Device 1",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "239efd4e.25ef52",
        "type": "ui_chart",
        "z": "4783ab13.6b4bd4",
        "name": "AI2",
        "group": "a4ff5be2.a7aef8",
        "order": 1,
        "width": "9",
        "height": "8",
        "label": "AI Device 2",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "51a19e73.7ba9d",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1392,
        "wires": [
            [
                "4d900680.112888"
            ]
        ]
    },
    {
        "id": "4d900680.112888",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1392,
        "wires": [
            [],
            [
                "14b1d1c9.3025ce"
            ]
        ]
    },
    {
        "id": "4491eeb1.fc5f7",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1452,
        "wires": [
            [
                "4a41e287.35dbcc"
            ]
        ]
    },
    {
        "id": "4a41e287.35dbcc",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1452,
        "wires": [
            [],
            [
                "7bdd3450.de747c"
            ]
        ]
    },
    {
        "id": "1dacd227.dc05fe",
        "type": "ui_chart",
        "z": "4783ab13.6b4bd4",
        "name": "AI3",
        "group": "f34104e0.3e4bf8",
        "order": 1,
        "width": "9",
        "height": "8",
        "label": "AI Device 3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "832b1153.367df",
        "type": "ui_chart",
        "z": "4783ab13.6b4bd4",
        "name": "AI4",
        "group": "ab98cb8.eb3da38",
        "order": 1,
        "width": "9",
        "height": "8",
        "label": "AI Device 4",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "8a54d47d.bee688",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1512,
        "wires": [
            [
                "5de37ea9.db9ab"
            ]
        ]
    },
    {
        "id": "5de37ea9.db9ab",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1512,
        "wires": [
            [],
            [
                "8986357.a0c65c8"
            ]
        ]
    },
    {
        "id": "fa35ca5b.09e0b8",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1572,
        "wires": [
            [
                "45de63c4.cb2b5c"
            ]
        ]
    },
    {
        "id": "45de63c4.cb2b5c",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1572,
        "wires": [
            [],
            [
                "e652a3c9.bf2ec"
            ]
        ]
    },
    {
        "id": "1d4e2b46.2e6c45",
        "type": "ui_chart",
        "z": "4783ab13.6b4bd4",
        "name": "AI5",
        "group": "dbc269db.61ea18",
        "order": 1,
        "width": "9",
        "height": "8",
        "label": "AI Device 5",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1210,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "6b3974d1.449ffc",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "Start Button",
        "group": "5634f77.d4dfc08",
        "order": 1,
        "width": "15",
        "height": "1",
        "passthru": false,
        "label": "{{Label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 230,
        "y": 1020,
        "wires": [
            [
                "639b3bfd.f6bd24"
            ]
        ]
    },
    {
        "id": "1465b299.3b7a4d",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "started",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "Label",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 1060,
        "wires": [
            [
                "6b3974d1.449ffc",
                "6d5f0cb9.cc3454"
            ]
        ]
    },
    {
        "id": "8953ebec.94d028",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "1465b299.3b7a4d"
            ]
        ]
    },
    {
        "id": "639b3bfd.f6bd24",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "started",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 1020,
        "wires": [
            [
                "42022752.530248"
            ],
            [
                "1465b299.3b7a4d"
            ]
        ]
    },
    {
        "id": "42022752.530248",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "started",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start,0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Label",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "6b3974d1.449ffc",
                "6d5f0cb9.cc3454"
            ]
        ]
    },
    {
        "id": "73c1faa5.3e2ba4",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 630,
        "y": 1060,
        "wires": [
            [
                "6d5f0cb9.cc3454"
            ]
        ]
    },
    {
        "id": "6d5f0cb9.cc3454",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 800,
        "y": 1020,
        "wires": []
    },
    {
        "id": "962a1815.0164b8",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "Back Page",
        "group": "5634f77.d4dfc08",
        "order": 3,
        "width": "15",
        "height": "1",
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "",
        "x": 1070,
        "y": 1060,
        "wires": [
            [
                "ba2a4716.158cb8"
            ]
        ]
    },
    {
        "id": "ba2a4716.158cb8",
        "type": "ui_ui_control",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "events": "all",
        "x": 1280,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "f24b8400.c8c308",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 490,
        "y": 1800,
        "wires": [
            [
                "33312de5.f23742"
            ],
            [
                "2916e5d2.1eef7a"
            ],
            [
                "e4630ca8.a249b"
            ],
            [
                "5d01badb.97db44"
            ],
            [
                "5b42db30.4ea624"
            ],
            [
                "85f80367.64041"
            ]
        ]
    },
    {
        "id": "33312de5.f23742",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1672,
        "wires": [
            [
                "f283abe4.c37318"
            ]
        ]
    },
    {
        "id": "f283abe4.c37318",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1672,
        "wires": [
            [],
            [
                "4506ff27.caf16",
                "bb4236bb.f6fd98"
            ]
        ]
    },
    {
        "id": "2916e5d2.1eef7a",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1732,
        "wires": [
            [
                "f2367a53.547cc8"
            ]
        ]
    },
    {
        "id": "f2367a53.547cc8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1732,
        "wires": [
            [],
            [
                "c754991a.2a78a8"
            ]
        ]
    },
    {
        "id": "e4630ca8.a249b",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1792,
        "wires": [
            [
                "d418c0ff.bb554"
            ]
        ]
    },
    {
        "id": "d418c0ff.bb554",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1792,
        "wires": [
            [],
            [
                "d5105f41.ed021"
            ]
        ]
    },
    {
        "id": "5d01badb.97db44",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1852,
        "wires": [
            [
                "6f3fffcc.de42e"
            ]
        ]
    },
    {
        "id": "6f3fffcc.de42e",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1852,
        "wires": [
            [],
            [
                "3790391b.48f766"
            ]
        ]
    },
    {
        "id": "5b42db30.4ea624",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1912,
        "wires": [
            [
                "6dce3d1a.dc5fe4"
            ]
        ]
    },
    {
        "id": "6dce3d1a.dc5fe4",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1912,
        "wires": [
            [],
            [
                "937aaf96.c209f"
            ]
        ]
    },
    {
        "id": "85f80367.64041",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 1972,
        "wires": [
            [
                "adc3b28c.3e2de"
            ]
        ]
    },
    {
        "id": "adc3b28c.3e2de",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1972,
        "wires": [
            [],
            [
                "5ec7a7f4.fbfea8"
            ]
        ]
    },
    {
        "id": "4506ff27.caf16",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "f86dcc77.1e189",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "AV0 : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1050,
        "y": 1680,
        "wires": []
    },
    {
        "id": "c754991a.2a78a8",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "edb0187a.391d88",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "AV1 : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1050,
        "y": 1740,
        "wires": []
    },
    {
        "id": "d5105f41.ed021",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "a4ff5be2.a7aef8",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "AV2 : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1050,
        "y": 1800,
        "wires": []
    },
    {
        "id": "3790391b.48f766",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "f34104e0.3e4bf8",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "AV3 : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1050,
        "y": 1860,
        "wires": []
    },
    {
        "id": "937aaf96.c209f",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "ab98cb8.eb3da38",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "AV4 : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1050,
        "y": 1920,
        "wires": []
    },
    {
        "id": "5ec7a7f4.fbfea8",
        "type": "ui_text",
        "z": "4783ab13.6b4bd4",
        "group": "dbc269db.61ea18",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "AV5 : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1050,
        "y": 1980,
        "wires": []
    },
    {
        "id": "f7c50fb9.36e4d",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f86dcc77.1e189",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Send Value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput",
        "payloadType": "flow",
        "topic": "",
        "x": 1330,
        "y": 1760,
        "wires": [
            [
                "448a0787.777528"
            ]
        ]
    },
    {
        "id": "d1dafc97.b3bee",
        "type": "ui_text_input",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "f86dcc77.1e189",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 1500,
        "y": 1680,
        "wires": [
            [
                "b6830670.6127d8"
            ]
        ]
    },
    {
        "id": "b6830670.6127d8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 1680,
        "wires": [
            [
                "dc95d4d5.6dd438"
            ]
        ]
    },
    {
        "id": "dc95d4d5.6dd438",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1900,
        "y": 1680,
        "wires": [
            [
                "5f11bdf2.a17c14"
            ],
            [
                "84685010.5489a"
            ]
        ]
    },
    {
        "id": "5f11bdf2.a17c14",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 1640,
        "wires": [
            [
                "e2a02c73.d0b7f"
            ]
        ]
    },
    {
        "id": "84685010.5489a",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 1720,
        "wires": [
            [
                "e2a02c73.d0b7f"
            ]
        ]
    },
    {
        "id": "e2a02c73.d0b7f",
        "type": "link out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "5a7e967a.133418"
        ],
        "x": 2035,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5a7e967a.133418",
        "type": "link in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "e2a02c73.d0b7f"
        ],
        "x": 1215,
        "y": 1760,
        "wires": [
            [
                "f7c50fb9.36e4d"
            ]
        ]
    },
    {
        "id": "25839d3b.9572f2",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "Init with empty string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1300,
        "y": 1680,
        "wires": [
            [
                "d1dafc97.b3bee"
            ]
        ]
    },
    {
        "id": "3b3d9d32.349ed2",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 1800,
        "y": 1760,
        "wires": []
    },
    {
        "id": "448a0787.777528",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "my function that does stuff",
        "func": "// msg.payload +=\" AV0\"\nmsg.payload = \"start,\" + msg.payload\n// msg.payload = \"start,\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1550,
        "y": 1760,
        "wires": [
            [
                "3b3d9d32.349ed2"
            ]
        ]
    },
    {
        "id": "8ae5dd3a.985a7",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "edb0187a.391d88",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Send Value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput1",
        "payloadType": "flow",
        "topic": "",
        "x": 1350,
        "y": 1940,
        "wires": [
            [
                "c459c9bc.0a6718"
            ]
        ]
    },
    {
        "id": "ad2c2c2e.f2db5",
        "type": "ui_text_input",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "edb0187a.391d88",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 1520,
        "y": 1860,
        "wires": [
            [
                "1a6c727c.30b4ce"
            ]
        ]
    },
    {
        "id": "1a6c727c.30b4ce",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 1860,
        "wires": [
            [
                "b4a76408.1a1c78"
            ]
        ]
    },
    {
        "id": "b4a76408.1a1c78",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "is text empty?",
        "property": "textInput1",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1920,
        "y": 1860,
        "wires": [
            [
                "5f42d1e3.b3ded"
            ],
            [
                "59596b66.1ffd54"
            ]
        ]
    },
    {
        "id": "5f42d1e3.b3ded",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1930,
        "y": 1820,
        "wires": [
            [
                "1b65c83b.e17d78"
            ]
        ]
    },
    {
        "id": "59596b66.1ffd54",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1930,
        "y": 1900,
        "wires": [
            [
                "1b65c83b.e17d78"
            ]
        ]
    },
    {
        "id": "1b65c83b.e17d78",
        "type": "link out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "60653045.52fed"
        ],
        "x": 2055,
        "y": 1860,
        "wires": []
    },
    {
        "id": "60653045.52fed",
        "type": "link in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "1b65c83b.e17d78"
        ],
        "x": 1235,
        "y": 1940,
        "wires": [
            [
                "8ae5dd3a.985a7"
            ]
        ]
    },
    {
        "id": "988f99c7.8628a8",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "Init with empty string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1320,
        "y": 1860,
        "wires": [
            [
                "ad2c2c2e.f2db5"
            ]
        ]
    },
    {
        "id": "81313cf4.36a1",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 1800,
        "y": 1940,
        "wires": []
    },
    {
        "id": "c459c9bc.0a6718",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "my function that does stuff",
        "func": "// msg.payload +=\" AV0\"\nmsg.payload = \"start,\" + msg.payload\n// msg.payload = \"start,\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1570,
        "y": 1940,
        "wires": [
            [
                "81313cf4.36a1"
            ]
        ]
    },
    {
        "id": "9386a0cd.8b878",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "a4ff5be2.a7aef8",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Send Value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput2",
        "payloadType": "flow",
        "topic": "",
        "x": 2250,
        "y": 1760,
        "wires": [
            [
                "dd513608.37fee8"
            ]
        ]
    },
    {
        "id": "55422fef.d352d",
        "type": "ui_text_input",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "a4ff5be2.a7aef8",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 2420,
        "y": 1680,
        "wires": [
            [
                "7960f17f.ced96"
            ]
        ]
    },
    {
        "id": "7960f17f.ced96",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2610,
        "y": 1680,
        "wires": [
            [
                "480526c9.07d778"
            ]
        ]
    },
    {
        "id": "480526c9.07d778",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "is text empty?",
        "property": "textInput2",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2820,
        "y": 1680,
        "wires": [
            [
                "94901d4c.57149"
            ],
            [
                "7ee35145.6d26"
            ]
        ]
    },
    {
        "id": "94901d4c.57149",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2830,
        "y": 1640,
        "wires": [
            [
                "34b78fbe.54b59"
            ]
        ]
    },
    {
        "id": "7ee35145.6d26",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2830,
        "y": 1720,
        "wires": [
            [
                "34b78fbe.54b59"
            ]
        ]
    },
    {
        "id": "34b78fbe.54b59",
        "type": "link out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "860dcf99.2c5ab"
        ],
        "x": 2955,
        "y": 1680,
        "wires": []
    },
    {
        "id": "860dcf99.2c5ab",
        "type": "link in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "34b78fbe.54b59"
        ],
        "x": 2135,
        "y": 1760,
        "wires": [
            [
                "9386a0cd.8b878"
            ]
        ]
    },
    {
        "id": "b866f416.017398",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "Init with empty string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 2220,
        "y": 1680,
        "wires": [
            [
                "55422fef.d352d"
            ]
        ]
    },
    {
        "id": "613d06bf.4b0748",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 2700,
        "y": 1760,
        "wires": []
    },
    {
        "id": "dd513608.37fee8",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "my function that does stuff",
        "func": "// msg.payload +=\" AV0\"\nmsg.payload = \"start,\" + msg.payload\n// msg.payload = \"start,\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2470,
        "y": 1760,
        "wires": [
            [
                "613d06bf.4b0748"
            ]
        ]
    },
    {
        "id": "63162fbf.916be",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f34104e0.3e4bf8",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Send Value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput3",
        "payloadType": "flow",
        "topic": "",
        "x": 2270,
        "y": 1920,
        "wires": [
            [
                "11551ec0.b3ab51"
            ]
        ]
    },
    {
        "id": "3c5f4904.f3bfc6",
        "type": "ui_text_input",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "f34104e0.3e4bf8",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 2440,
        "y": 1840,
        "wires": [
            [
                "2905aaed.70c246"
            ]
        ]
    },
    {
        "id": "2905aaed.70c246",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2630,
        "y": 1840,
        "wires": [
            [
                "d5f36381.7d223"
            ]
        ]
    },
    {
        "id": "d5f36381.7d223",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "is text empty?",
        "property": "textInput3",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2840,
        "y": 1840,
        "wires": [
            [
                "b136ba9b.cee4b8"
            ],
            [
                "51786e6c.2992"
            ]
        ]
    },
    {
        "id": "b136ba9b.cee4b8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2850,
        "y": 1800,
        "wires": [
            [
                "5a511174.e51a5"
            ]
        ]
    },
    {
        "id": "51786e6c.2992",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2850,
        "y": 1880,
        "wires": [
            [
                "5a511174.e51a5"
            ]
        ]
    },
    {
        "id": "5a511174.e51a5",
        "type": "link out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "bb1d4f60.ad4ea"
        ],
        "x": 2975,
        "y": 1840,
        "wires": []
    },
    {
        "id": "bb1d4f60.ad4ea",
        "type": "link in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "5a511174.e51a5"
        ],
        "x": 2155,
        "y": 1920,
        "wires": [
            [
                "63162fbf.916be"
            ]
        ]
    },
    {
        "id": "ec8c201b.9390e",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "Init with empty string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 2240,
        "y": 1840,
        "wires": [
            [
                "3c5f4904.f3bfc6"
            ]
        ]
    },
    {
        "id": "a23b99eb.b37f28",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 2720,
        "y": 1920,
        "wires": []
    },
    {
        "id": "11551ec0.b3ab51",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "my function that does stuff",
        "func": "// msg.payload +=\" AV0\"\nmsg.payload = \"start,\" + msg.payload\n// msg.payload = \"start,\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2490,
        "y": 1920,
        "wires": [
            [
                "a23b99eb.b37f28"
            ]
        ]
    },
    {
        "id": "60a87c01.5a6e34",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "ab98cb8.eb3da38",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Send Value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput4",
        "payloadType": "flow",
        "topic": "",
        "x": 3170,
        "y": 1720,
        "wires": [
            [
                "65ca36cd.025ce8"
            ]
        ]
    },
    {
        "id": "69fc28f2.7f0fa8",
        "type": "ui_text_input",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ab98cb8.eb3da38",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 3340,
        "y": 1640,
        "wires": [
            [
                "dc0f0baa.daa8c8"
            ]
        ]
    },
    {
        "id": "dc0f0baa.daa8c8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3530,
        "y": 1640,
        "wires": [
            [
                "783e639c.21f5ac"
            ]
        ]
    },
    {
        "id": "783e639c.21f5ac",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "is text empty?",
        "property": "textInput4",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3740,
        "y": 1640,
        "wires": [
            [
                "83733a4f.008db8"
            ],
            [
                "27b70dba.cc9cc2"
            ]
        ]
    },
    {
        "id": "83733a4f.008db8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3750,
        "y": 1600,
        "wires": [
            [
                "ed280a93.ebb608"
            ]
        ]
    },
    {
        "id": "27b70dba.cc9cc2",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3750,
        "y": 1680,
        "wires": [
            [
                "ed280a93.ebb608"
            ]
        ]
    },
    {
        "id": "ed280a93.ebb608",
        "type": "link out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "e4d4b25c.b2cb5"
        ],
        "x": 3875,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e4d4b25c.b2cb5",
        "type": "link in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "ed280a93.ebb608"
        ],
        "x": 3055,
        "y": 1720,
        "wires": [
            [
                "60a87c01.5a6e34"
            ]
        ]
    },
    {
        "id": "aa36d747.ea9fb8",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "Init with empty string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 3140,
        "y": 1640,
        "wires": [
            [
                "69fc28f2.7f0fa8"
            ]
        ]
    },
    {
        "id": "a9c8f3ce.ab9a2",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 3620,
        "y": 1720,
        "wires": []
    },
    {
        "id": "65ca36cd.025ce8",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "my function that does stuff",
        "func": "// msg.payload +=\" AV0\"\nmsg.payload = \"start,\" + msg.payload\n// msg.payload = \"start,\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3390,
        "y": 1720,
        "wires": [
            [
                "a9c8f3ce.ab9a2"
            ]
        ]
    },
    {
        "id": "611a415a.d0aa4",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "dbc269db.61ea18",
        "order": 8,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Send Value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "textInput5",
        "payloadType": "flow",
        "topic": "",
        "x": 3190,
        "y": 1900,
        "wires": [
            [
                "d1e9ebb3.67b3c8"
            ]
        ]
    },
    {
        "id": "cea2f595.165de8",
        "type": "ui_text_input",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "dbc269db.61ea18",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 3360,
        "y": 1820,
        "wires": [
            [
                "5ebad7e2.a5aea8"
            ]
        ]
    },
    {
        "id": "5ebad7e2.a5aea8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput5",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3550,
        "y": 1820,
        "wires": [
            [
                "2f3c9f7f.1aad8"
            ]
        ]
    },
    {
        "id": "2f3c9f7f.1aad8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "is text empty?",
        "property": "textInput5",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3760,
        "y": 1820,
        "wires": [
            [
                "d3733746.171ae8"
            ],
            [
                "8ffd08e7.d5c088"
            ]
        ]
    },
    {
        "id": "d3733746.171ae8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3770,
        "y": 1780,
        "wires": [
            [
                "1186d89b.000bd7"
            ]
        ]
    },
    {
        "id": "8ffd08e7.d5c088",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3770,
        "y": 1860,
        "wires": [
            [
                "1186d89b.000bd7"
            ]
        ]
    },
    {
        "id": "1186d89b.000bd7",
        "type": "link out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "e73cc2f2.a77ea"
        ],
        "x": 3895,
        "y": 1820,
        "wires": []
    },
    {
        "id": "e73cc2f2.a77ea",
        "type": "link in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "links": [
            "1186d89b.000bd7"
        ],
        "x": 3075,
        "y": 1900,
        "wires": [
            [
                "611a415a.d0aa4"
            ]
        ]
    },
    {
        "id": "a6afeea0.846f6",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "Init with empty string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 3160,
        "y": 1820,
        "wires": [
            [
                "cea2f595.165de8"
            ]
        ]
    },
    {
        "id": "aedacfde.e4ac",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/check",
        "qos": "",
        "retain": "",
        "broker": "ddb8ab0d.85f8c8",
        "x": 3640,
        "y": 1900,
        "wires": []
    },
    {
        "id": "d1e9ebb3.67b3c8",
        "type": "function",
        "z": "4783ab13.6b4bd4",
        "name": "my function that does stuff",
        "func": "// msg.payload +=\" AV0\"\nmsg.payload = \"start,\" + msg.payload\n// msg.payload = \"start,\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 3410,
        "y": 1900,
        "wires": [
            [
                "aedacfde.e4ac"
            ]
        ]
    },
    {
        "id": "e8d61a31.4b2478",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/binaryInput",
        "qos": "2",
        "datatype": "auto",
        "broker": "ddb8ab0d.85f8c8",
        "x": 230,
        "y": 2260,
        "wires": [
            [
                "cb1408a6.f6b178"
            ]
        ]
    },
    {
        "id": "cb1408a6.f6b178",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 470,
        "y": 2260,
        "wires": [
            [
                "4b4b8cd1.c7d394"
            ],
            [
                "d1333b8.eda8dc8"
            ],
            [
                "35a6f382.e86a1c"
            ],
            [
                "7e38a978.e002c8"
            ],
            [
                "74fee079.9ab5b"
            ],
            [
                "e8c97415.0527f8"
            ]
        ]
    },
    {
        "id": "4b4b8cd1.c7d394",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2132,
        "wires": [
            [
                "9da58a3c.56f758"
            ]
        ]
    },
    {
        "id": "9da58a3c.56f758",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2132,
        "wires": [
            [],
            [
                "435f57be.2b8ee8"
            ]
        ]
    },
    {
        "id": "d1333b8.eda8dc8",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2192,
        "wires": [
            [
                "f9bab2d2.1ecb5"
            ]
        ]
    },
    {
        "id": "f9bab2d2.1ecb5",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2192,
        "wires": [
            [],
            [
                "f1e2fc85.72044"
            ]
        ]
    },
    {
        "id": "35a6f382.e86a1c",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2252,
        "wires": [
            [
                "f7b12677.625118"
            ]
        ]
    },
    {
        "id": "f7b12677.625118",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2252,
        "wires": [
            [],
            [
                "44aff7b8.26e3d8"
            ]
        ]
    },
    {
        "id": "7e38a978.e002c8",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2312,
        "wires": [
            [
                "3641b780.5ab798"
            ]
        ]
    },
    {
        "id": "3641b780.5ab798",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2312,
        "wires": [
            [],
            [
                "8122303a.e6dee"
            ]
        ]
    },
    {
        "id": "74fee079.9ab5b",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2372,
        "wires": [
            [
                "96411daa.6696b"
            ]
        ]
    },
    {
        "id": "96411daa.6696b",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2372,
        "wires": [
            [],
            [
                "1a92915.f930e6f"
            ]
        ]
    },
    {
        "id": "e8c97415.0527f8",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2432,
        "wires": [
            [
                "96961bd0.a60408"
            ]
        ]
    },
    {
        "id": "96961bd0.a60408",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2432,
        "wires": [
            [],
            [
                "914fa19.f47966"
            ]
        ]
    },
    {
        "id": "bf33ba13.11ee68",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f86dcc77.1e189",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BI0",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "435f57be.2b8ee8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2080,
        "wires": [
            [
                "bc8f3a9b.9e92f8"
            ],
            [
                "39e5e186.b088fe"
            ]
        ]
    },
    {
        "id": "bc8f3a9b.9e92f8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2062,
        "wires": [
            [
                "bf33ba13.11ee68"
            ]
        ]
    },
    {
        "id": "39e5e186.b088fe",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2099,
        "wires": [
            [
                "bf33ba13.11ee68"
            ]
        ]
    },
    {
        "id": "71ccc138.7db8b",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "edb0187a.391d88",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BI1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "f1e2fc85.72044",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2160,
        "wires": [
            [
                "33c23568.a4cfba"
            ],
            [
                "84926a8d.e0f278"
            ]
        ]
    },
    {
        "id": "33c23568.a4cfba",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2142,
        "wires": [
            [
                "71ccc138.7db8b"
            ]
        ]
    },
    {
        "id": "84926a8d.e0f278",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2179,
        "wires": [
            [
                "71ccc138.7db8b"
            ]
        ]
    },
    {
        "id": "1b881b5a.94b655",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "a4ff5be2.a7aef8",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BI2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "44aff7b8.26e3d8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2240,
        "wires": [
            [
                "7951304d.74951"
            ],
            [
                "87e64374.a94e9"
            ]
        ]
    },
    {
        "id": "7951304d.74951",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2222,
        "wires": [
            [
                "1b881b5a.94b655"
            ]
        ]
    },
    {
        "id": "87e64374.a94e9",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2259,
        "wires": [
            [
                "1b881b5a.94b655"
            ]
        ]
    },
    {
        "id": "1bf03dcb.7272d2",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f34104e0.3e4bf8",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BI3",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "8122303a.e6dee",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2320,
        "wires": [
            [
                "74ead9dc.fc47e8"
            ],
            [
                "fc9d9612.ad6c78"
            ]
        ]
    },
    {
        "id": "74ead9dc.fc47e8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2302,
        "wires": [
            [
                "1bf03dcb.7272d2"
            ]
        ]
    },
    {
        "id": "fc9d9612.ad6c78",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2339,
        "wires": [
            [
                "1bf03dcb.7272d2"
            ]
        ]
    },
    {
        "id": "774997ff.05eec8",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "ab98cb8.eb3da38",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BI4",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "1a92915.f930e6f",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2400,
        "wires": [
            [
                "e2f8b728.4d6ca8"
            ],
            [
                "95a8dd5.0d6a62"
            ]
        ]
    },
    {
        "id": "e2f8b728.4d6ca8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2382,
        "wires": [
            [
                "774997ff.05eec8"
            ]
        ]
    },
    {
        "id": "95a8dd5.0d6a62",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2419,
        "wires": [
            [
                "774997ff.05eec8"
            ]
        ]
    },
    {
        "id": "2bd53a19.356e36",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "dbc269db.61ea18",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BI5",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "914fa19.f47966",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2480,
        "wires": [
            [
                "314fb027.eb72d"
            ],
            [
                "ce2381ed.238c6"
            ]
        ]
    },
    {
        "id": "314fb027.eb72d",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2462,
        "wires": [
            [
                "2bd53a19.356e36"
            ]
        ]
    },
    {
        "id": "ce2381ed.238c6",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2499,
        "wires": [
            [
                "2bd53a19.356e36"
            ]
        ]
    },
    {
        "id": "6654fc74.bf6704",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/binaryOutput",
        "qos": "2",
        "datatype": "auto",
        "broker": "ddb8ab0d.85f8c8",
        "x": 240,
        "y": 2800,
        "wires": [
            [
                "5b457535.4b138c"
            ]
        ]
    },
    {
        "id": "5b457535.4b138c",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 470,
        "y": 2800,
        "wires": [
            [
                "139d7c5e.063984"
            ],
            [
                "311a970f.39d0c8"
            ],
            [
                "5b7dbdc2.1508a4"
            ],
            [
                "9fbc41a7.959fb"
            ],
            [
                "5418b222.df866c"
            ],
            [
                "f8df7cd1.5af15"
            ]
        ]
    },
    {
        "id": "139d7c5e.063984",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2672,
        "wires": [
            [
                "a5b2c5db.301ee8"
            ]
        ]
    },
    {
        "id": "a5b2c5db.301ee8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2672,
        "wires": [
            [],
            [
                "38563aa1.244526"
            ]
        ]
    },
    {
        "id": "311a970f.39d0c8",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2732,
        "wires": [
            [
                "8adf343d.637a28"
            ]
        ]
    },
    {
        "id": "8adf343d.637a28",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2732,
        "wires": [
            [],
            [
                "e11281b6.4685a"
            ]
        ]
    },
    {
        "id": "5b7dbdc2.1508a4",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2792,
        "wires": [
            [
                "175b778e.dbd1e8"
            ]
        ]
    },
    {
        "id": "175b778e.dbd1e8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2792,
        "wires": [
            [],
            [
                "f6e3002.28f06"
            ]
        ]
    },
    {
        "id": "9fbc41a7.959fb",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2852,
        "wires": [
            [
                "dabd1ea4.da1c9"
            ]
        ]
    },
    {
        "id": "dabd1ea4.da1c9",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2852,
        "wires": [
            [],
            [
                "7fc1602e.4826e"
            ]
        ]
    },
    {
        "id": "5418b222.df866c",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2912,
        "wires": [
            [
                "c46e6e95.d29c3"
            ]
        ]
    },
    {
        "id": "c46e6e95.d29c3",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2912,
        "wires": [
            [],
            [
                "35245d75.bb4772"
            ]
        ]
    },
    {
        "id": "f8df7cd1.5af15",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2972,
        "wires": [
            [
                "321e861e.2cf5ea"
            ]
        ]
    },
    {
        "id": "321e861e.2cf5ea",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 2972,
        "wires": [
            [],
            [
                "3ecabf62.5f221"
            ]
        ]
    },
    {
        "id": "5a66c521.f44e3c",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f86dcc77.1e189",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BO0",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "38563aa1.244526",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2620,
        "wires": [
            [
                "f46abb2c.c080b8"
            ],
            [
                "5f8ba328.0efd6c"
            ]
        ]
    },
    {
        "id": "f46abb2c.c080b8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2602,
        "wires": [
            [
                "5a66c521.f44e3c"
            ]
        ]
    },
    {
        "id": "5f8ba328.0efd6c",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2639,
        "wires": [
            [
                "5a66c521.f44e3c"
            ]
        ]
    },
    {
        "id": "658af39d.71f1ec",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "edb0187a.391d88",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BO1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2700,
        "wires": [
            []
        ]
    },
    {
        "id": "e11281b6.4685a",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2700,
        "wires": [
            [
                "572885a8.0a436c"
            ],
            [
                "a23db028.6da0b"
            ]
        ]
    },
    {
        "id": "572885a8.0a436c",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2682,
        "wires": [
            [
                "658af39d.71f1ec"
            ]
        ]
    },
    {
        "id": "a23db028.6da0b",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2719,
        "wires": [
            [
                "658af39d.71f1ec"
            ]
        ]
    },
    {
        "id": "adcfa8b2.07ff88",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "a4ff5be2.a7aef8",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BO2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2780,
        "wires": [
            []
        ]
    },
    {
        "id": "f6e3002.28f06",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2780,
        "wires": [
            [
                "4e307fd9.d53bf"
            ],
            [
                "22b820c8.a9e72"
            ]
        ]
    },
    {
        "id": "4e307fd9.d53bf",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2762,
        "wires": [
            [
                "adcfa8b2.07ff88"
            ]
        ]
    },
    {
        "id": "22b820c8.a9e72",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2799,
        "wires": [
            [
                "adcfa8b2.07ff88"
            ]
        ]
    },
    {
        "id": "4b9a804e.da37b",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f34104e0.3e4bf8",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BO3",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "7fc1602e.4826e",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2860,
        "wires": [
            [
                "be701f14.995a6"
            ],
            [
                "2101889a.5f50f8"
            ]
        ]
    },
    {
        "id": "be701f14.995a6",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2842,
        "wires": [
            [
                "4b9a804e.da37b"
            ]
        ]
    },
    {
        "id": "2101889a.5f50f8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2879,
        "wires": [
            [
                "4b9a804e.da37b"
            ]
        ]
    },
    {
        "id": "ae5da784.be3ee8",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "ab98cb8.eb3da38",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BO4",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "35245d75.bb4772",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 2940,
        "wires": [
            [
                "1d5a970d.28e5f9"
            ],
            [
                "b9f34923.613b78"
            ]
        ]
    },
    {
        "id": "1d5a970d.28e5f9",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2922,
        "wires": [
            [
                "ae5da784.be3ee8"
            ]
        ]
    },
    {
        "id": "b9f34923.613b78",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 2959,
        "wires": [
            [
                "ae5da784.be3ee8"
            ]
        ]
    },
    {
        "id": "37f74727.859f98",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "dbc269db.61ea18",
        "order": 4,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BO5",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "3ecabf62.5f221",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 3020,
        "wires": [
            [
                "d5d9a3b9.f2e53"
            ],
            [
                "72162d32.987274"
            ]
        ]
    },
    {
        "id": "d5d9a3b9.f2e53",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3002,
        "wires": [
            [
                "37f74727.859f98"
            ]
        ]
    },
    {
        "id": "72162d32.987274",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3039,
        "wires": [
            [
                "37f74727.859f98"
            ]
        ]
    },
    {
        "id": "22924a98.a07f06",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Room Temperature(C)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1280,
        "wires": [
            [
                "d16fc351.f404d",
                "2a59e95c.9c15e6"
            ]
        ]
    },
    {
        "id": "b7d226fd.724298",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Room Temperature(C)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1340,
        "wires": [
            [
                "e26b5afc.210f18"
            ]
        ]
    },
    {
        "id": "14b1d1c9.3025ce",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Room Temperature(C)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1400,
        "wires": [
            [
                "239efd4e.25ef52"
            ]
        ]
    },
    {
        "id": "7bdd3450.de747c",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Room Temperature(C)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1460,
        "wires": [
            [
                "1dacd227.dc05fe"
            ]
        ]
    },
    {
        "id": "8986357.a0c65c8",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Room Temperature(C)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1520,
        "wires": [
            [
                "832b1153.367df"
            ]
        ]
    },
    {
        "id": "e652a3c9.bf2ec",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Room Temperature(C)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1580,
        "wires": [
            [
                "1d4e2b46.2e6c45"
            ]
        ]
    },
    {
        "id": "7177d913.7ca7d8",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "BACNET/binaryValue",
        "qos": "2",
        "datatype": "auto",
        "broker": "ddb8ab0d.85f8c8",
        "x": 240,
        "y": 3320,
        "wires": [
            [
                "9bf0c41b.11f1d8"
            ]
        ]
    },
    {
        "id": "9bf0c41b.11f1d8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 470,
        "y": 3320,
        "wires": [
            [
                "7b7e1524.777c7c"
            ],
            [
                "32e9f0be.ad5f"
            ],
            [
                "55eff19c.f4f7f"
            ],
            [
                "19ff3b60.d47845"
            ],
            [
                "ad45f478.5ba888"
            ],
            [
                "b1e5bf9f.81e44"
            ]
        ]
    },
    {
        "id": "7b7e1524.777c7c",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 3192,
        "wires": [
            [
                "1767f7f0.bb4518"
            ]
        ]
    },
    {
        "id": "1767f7f0.bb4518",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 3192,
        "wires": [
            [],
            [
                "660ca1f7.6ea25"
            ]
        ]
    },
    {
        "id": "32e9f0be.ad5f",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 3252,
        "wires": [
            [
                "a9233f19.b131c"
            ]
        ]
    },
    {
        "id": "a9233f19.b131c",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 3252,
        "wires": [
            [],
            [
                "dc825e41.435db"
            ]
        ]
    },
    {
        "id": "55eff19c.f4f7f",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 3312,
        "wires": [
            [
                "e3e7aa3e.724de8"
            ]
        ]
    },
    {
        "id": "e3e7aa3e.724de8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 3312,
        "wires": [
            [],
            [
                "d96a550d.ed8948"
            ]
        ]
    },
    {
        "id": "19ff3b60.d47845",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 3372,
        "wires": [
            [
                "88bef0e5.c37a2"
            ]
        ]
    },
    {
        "id": "88bef0e5.c37a2",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev3",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 3372,
        "wires": [
            [],
            [
                "fd207edf.fa57f"
            ]
        ]
    },
    {
        "id": "ad45f478.5ba888",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 3432,
        "wires": [
            [
                "d33991ed.b1d5b"
            ]
        ]
    },
    {
        "id": "d33991ed.b1d5b",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 3432,
        "wires": [
            [],
            [
                "fb5def7a.a163d"
            ]
        ]
    },
    {
        "id": "b1e5bf9f.81e44",
        "type": "split",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 3492,
        "wires": [
            [
                "486a0656.23c8b8"
            ]
        ]
    },
    {
        "id": "486a0656.23c8b8",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "dev5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 3492,
        "wires": [
            [],
            [
                "a251e211.1cb29"
            ]
        ]
    },
    {
        "id": "d50cbe59.31e9c",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f86dcc77.1e189",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BV0",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "660ca1f7.6ea25",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 3140,
        "wires": [
            [
                "640af3ae.b1603c"
            ],
            [
                "b6b9ff69.c89e5"
            ]
        ]
    },
    {
        "id": "640af3ae.b1603c",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3122,
        "wires": [
            [
                "d50cbe59.31e9c"
            ]
        ]
    },
    {
        "id": "b6b9ff69.c89e5",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3159,
        "wires": [
            [
                "d50cbe59.31e9c"
            ]
        ]
    },
    {
        "id": "4ab42f30.c3e0d",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "edb0187a.391d88",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BV1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 3220,
        "wires": [
            []
        ]
    },
    {
        "id": "dc825e41.435db",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 3220,
        "wires": [
            [
                "be9e1c51.91adf"
            ],
            [
                "5e3aad0.f9d0454"
            ]
        ]
    },
    {
        "id": "be9e1c51.91adf",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3202,
        "wires": [
            [
                "4ab42f30.c3e0d"
            ]
        ]
    },
    {
        "id": "5e3aad0.f9d0454",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3239,
        "wires": [
            [
                "4ab42f30.c3e0d"
            ]
        ]
    },
    {
        "id": "5a6aa9c2.d41b18",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "a4ff5be2.a7aef8",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BV2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 3300,
        "wires": [
            []
        ]
    },
    {
        "id": "d96a550d.ed8948",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 3300,
        "wires": [
            [
                "ca2a9292.8a354"
            ],
            [
                "8fea4939.c52418"
            ]
        ]
    },
    {
        "id": "ca2a9292.8a354",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3282,
        "wires": [
            [
                "5a6aa9c2.d41b18"
            ]
        ]
    },
    {
        "id": "8fea4939.c52418",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3319,
        "wires": [
            [
                "5a6aa9c2.d41b18"
            ]
        ]
    },
    {
        "id": "1d31c2b2.c545ed",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "f34104e0.3e4bf8",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BV3",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 3380,
        "wires": [
            []
        ]
    },
    {
        "id": "fd207edf.fa57f",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 3380,
        "wires": [
            [
                "e4109208.1eac1"
            ],
            [
                "e4e10dfb.befa"
            ]
        ]
    },
    {
        "id": "e4109208.1eac1",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3362,
        "wires": [
            [
                "1d31c2b2.c545ed"
            ]
        ]
    },
    {
        "id": "e4e10dfb.befa",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3399,
        "wires": [
            [
                "1d31c2b2.c545ed"
            ]
        ]
    },
    {
        "id": "a2f2a144.638b4",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "ab98cb8.eb3da38",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BV4",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 3460,
        "wires": [
            []
        ]
    },
    {
        "id": "fb5def7a.a163d",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 3460,
        "wires": [
            [
                "336434d6.6347cc"
            ],
            [
                "c8656000.f15a1"
            ]
        ]
    },
    {
        "id": "336434d6.6347cc",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3442,
        "wires": [
            [
                "a2f2a144.638b4"
            ]
        ]
    },
    {
        "id": "c8656000.f15a1",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3479,
        "wires": [
            [
                "a2f2a144.638b4"
            ]
        ]
    },
    {
        "id": "626b5533.728d4c",
        "type": "ui_button",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "group": "dbc269db.61ea18",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "BV5",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1430,
        "y": 3540,
        "wires": [
            []
        ]
    },
    {
        "id": "a251e211.1cb29",
        "type": "switch",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "inactive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 3540,
        "wires": [
            [
                "ac7d90d8.e212"
            ],
            [
                "a29d3f59.bff81"
            ]
        ]
    },
    {
        "id": "ac7d90d8.e212",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3522,
        "wires": [
            [
                "626b5533.728d4c"
            ]
        ]
    },
    {
        "id": "a29d3f59.bff81",
        "type": "change",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "GREY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3559,
        "wires": [
            [
                "626b5533.728d4c"
            ]
        ]
    },
    {
        "id": "2a59e95c.9c15e6",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "topic/analogInput",
        "qos": "",
        "retain": "",
        "broker": "23a18da8.10c1a2",
        "x": 1310,
        "y": 1200,
        "wires": []
    },
    {
        "id": "bb4236bb.f6fd98",
        "type": "mqtt out",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "topic/analogValue",
        "qos": "",
        "retain": "",
        "broker": "23a18da8.10c1a2",
        "x": 1270,
        "y": 1620,
        "wires": []
    },
    {
        "id": "9a781eb4.193c9",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "topic/settingTemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "23a18da8.10c1a2",
        "x": 1470,
        "y": 1260,
        "wires": [
            [
                "20e22c7e.3b4a94"
            ]
        ]
    },
    {
        "id": "20e22c7e.3b4a94",
        "type": "debug",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1680,
        "y": 1260,
        "wires": []
    },
    {
        "id": "2da78290.4805ae",
        "type": "mqtt in",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "topic": "topic/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "23a18da8.10c1a2",
        "x": 1460,
        "y": 1320,
        "wires": [
            [
                "a4c4a1b3.c7e0c"
            ]
        ]
    },
    {
        "id": "a4c4a1b3.c7e0c",
        "type": "debug",
        "z": "4783ab13.6b4bd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1690,
        "y": 1320,
        "wires": []
    },
    {
        "id": "478d783c.f32fa8",
        "type": "google-cloud-iotcore device",
        "z": "4783ab13.6b4bd4",
        "name": "iotcore",
        "qos": "0",
        "retain": "",
        "topic": "events",
        "broker": "5da7c819.fa1838",
        "x": 2135,
        "y": 1260,
        "wires": [
            [],
            [
                "24cb0e25.11b912"
            ]
        ],
        "l": false
    },
    {
        "id": "abdf2463.7c29b8",
        "type": "inject",
        "z": "4783ab13.6b4bd4",
        "name": "kasiih",
        "topic": "",
        "payload": "send something",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2010,
        "y": 1260,
        "wires": [
            [
                "478d783c.f32fa8"
            ]
        ]
    }
]